@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

:root {
  --background: rgb(248, 236, 228);
  --color: #fff;
  --div-background: rgb(255, 243, 194);
}

body {
  margin: 2% 10%;
  background-color: #f5ede7;
}

.right-img {
  > img {
    width: 100%;
    height: auto;
  }
  position: relative;
  > .arrows {
    position: absolute;
    bottom: 2%;
    right: 3%;
    cursor: pointer;
    width: 15%;
    > img {
      width: 100%;
      height: 100%;
    }
  }
}

#tarla {
  width: 10%;
  height: 4%;
  margin: 12px;
}

header {
  width: 100%;
  display: flex;
  gap: 15px;
  background-color: rgb(252, 220, 208);
  margin-bottom: 5px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.a-tags {
  color: black;
  text-decoration: white;
}

nav {
  position: absolute;
  right: 12%;
  top: 6%;
  display: flex;
  gap: 15px;
  font-size: 20px;
}

#user,
#cart {
  text-align: end;
  font-size: 28px;
  cursor: pointer;
  > p {
    cursor: pointer;
  }
}

/* header hissesini bitirib kecdim section hissesine. */

section {
  margin-bottom: 5px;
  margin: 1px;
  border-radius: 1px;
  background-color: #ffc3a0;
}

.karusel {
  display: flex;
  background-color: rgba(255, 195, 160, 255);
  width: 100%;
  margin: 0;
}

#kuasaan {
  width: 45%;
  border: 1px solid black;
  border-radius: 25px;
  margin: 15px;
}

#pastry {
  font-size: 1vw;
  font-family: "dm sans";
}

#pastry-h1 {
  margin-top: 5%;
  word-spacing: 12%;
  font-size: 5vw;
  font-family: "roboto";
}
.pastry-items {
  background-color: var(--background);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  border-radius: 55px;
  padding: 5% 2% 5% 2%;
  margin-left: 1%;
  margin-top: 12%;
  cursor: pointer;
  transition: 0.1s;
}

.pastry-items:active {
  background-color: white;
  color: black;
}

.left-text,
.right-img {
  width: 100%;
}

/* "fresh pastry kits" hissesini de bitirdim. */

.how-it-works {
  background-color: var(--div-background);
  margin: 1px;
  border-radius: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
  > .top-div {
    display: flex;
  }
}
.croissant,
.dingdong,
.getbaked,
.credit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  margin: 15px;
  cursor: pointer;
  /* transition'u ozum sonradan elave etdim */
  transition: 0.5s;
  > h3,
  p {
    font-size: 25px;
    font-family: "dm sans";
  }

  > img {
    display: flex;
  }
}

.croissant:active,
.dingdong:active,
.getbaked:active,
.credit:active {
  background-color: var(--background);
  cursor: pointer;
}

#hiw_button {
  color: blue;
  background-color: white;
  width: 35%;
  font-size: 1.5rem;
  border: 2px solid blue;
  border-radius: 55px;
  padding: 15px 35px 15px 35px;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 1%;
  cursor: pointer;
}

#hiw_button:active {
  background-color: white;
  color: black;
}

#hiw-title {
  text-align: center;
  font-family: "roboto";
  font-size: 2rem;
}
/* how it works-reklam hissesini de bitirdim */
.yummy-cakes {
  border-radius: 2px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(227, 165, 122);
  gap: 15px;
  width: 100%;
}

.yummy-cake1 {
  max-width: 100%;

  > img {
    width: 100%;
    height: 100%;
    margin-right: 15px;
  }
}

.yummy-cake2 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15%;
  align-items: flex-start;
  justify-content: center;

  > button {
    font-size: 35px;
    color: blue;
    background-color: white;
    width: 45%;
    font-size: 1.5rem;
    border: 2px solid blue;
    border-radius: 55px;
    padding: 15px 35px 15px 35px;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
    cursor: pointer;
    margin-left: 15px;
  }

  > button:active {
    background-color: white;
    color: black;
  }
  p {
    font-size: 25px;
    margin-top: 15px;
    font-family: "dm sans";
  }
}

/* yummy-cakes hissesi bitdi*/

.gridlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  gap: 5px;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  > img {
    width: 100%;
  }

  > button {
    color: blue;
    background-color: white;
    width: 35%;
    font-size: 1rem;
    border: 2px solid blue;
    border-radius: 55px;
    padding: 15px 35px 15px 35px;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
    cursor: pointer;
  }

  > p {
    font-family: "dm sans";
    font-size: 100%;
  }
}

/* grid bitdi. */

.fullscreen {
  width: 100%;
  height: auto;
  background-color: var(--background);
  border-radius: 1px;
  > img {
    width: 100%;
  }
}

/* fullscreen bitdi */

.secgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1%;
  background-color: var(--background);
}

.gridingrid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  border: 1px solid black;
  border-radius: 2%;
  padding: 5%;
  height: 100%;
  > img {
    /* border-radius: 15%; */
    margin: 0 auto;
    gap: 15px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > h2,
  p {
    text-align: center;
    font-size: 145%;
  }
  > h2 {
    font-family: "roboto";
  }

  > p {
    font-family: "dm sans";
  }
}

/* gird-2 bitdi. */

#mixed {
  /* bunun ne oldugunu, nece yazdgimi ve neye aid oldugunu bilmirem. Amma silende butun kodum korlandi ona gore saxladim. */
  width: 100%;
  border: 1px solid black;

  > img {
    width: 100%;
  }
}

.grid-container {
  background-color: #f5ede7;
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--background);
}

.grid-item:first-child {
  > img {
    width: 95%;
    margin-left: 5%;
  }
}

.grid-item:nth-child(2) {
  margin-left: 2%;
  margin-right: 2%;

  > p {
    font-family: "roboto";
    font-size: 5vh;
    margin-top: 5%;
  }

  > span {
    font-size: 3vh;
    font-family: "dm sans";
  }

  > button {
    color: black;
    background-color: white;
    width: 35%;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 55px;
    padding: 15px 35px 15px 35px;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
    cursor: pointer;
  }
}

.grid-item:nth-child(3) {
  margin-left: 2%;
  margin-right: 2%;
  > p {
    font-family: "roboto";
    font-size: 5vh;
    margin-top: 5%;
  }

  > span {
    font-family: "dm sans";
    font-size: 3vh;
  }

  > button {
    color: black;
    background-color: white;
    width: 35%;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 55px;
    padding: 15px 35px 15px 35px;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
    cursor: pointer;
  }
}

.grid-item:last-child {
  > img {
    width: 95%;
    margin-right: 5%;
    border-radius: 5%;
  }
}

/* starlar elave olunmadan non-regular grid-container hissesi bitdi. */

.slide-container {
  background-color: #fff;
  margin-top: 50%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  > h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    font-family: "Roboto";
  }
}
.slideimages {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 20%);
  gap: 2%;

  > img {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
/* slide bolumu bitdi. */
footer {
  margin-top: 10%;
  font-family: "roboto";
  background-color: #f5ede7;
}

.lastgriditems {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footerstart {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  font-size: 45px;
}
.undertext {
  font-size: 30px;
}

.gmail {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  > button {
    font-size: 100%;
    padding: 2% 10% 2% 10%;
    border-radius: 25px;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  /* border: 1px solid black; */
}

.lastgriditem2,
.lastgriditem3,
.lastgriditem4 {
  > p,
  h5 {
    margin: 0 2px;
    cursor: pointer;
  }
}

.lastgriditem1,
.lastgriditem5 {
  >img{}
}
