* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  margin: 15px;
  width: 400px;
  text-align: center;
}

img{
    width: 100%;
}

.images {
  display: flex;
  flex-flow: wrap;
  gap: 15px;
  justify-content: space-around;
  margin: 15px;
}

.photo1 .photo2 .photo3 {
  border: 1px solid black;
}

.photo1 {
  display: flex;
  flex-flow: column;
}

.user {
    border: 1px solid black;
    width: 35px;
    height: 35px;
    display: flex;
    flex-flow: row;
}

h4{
    margin-left: 15px;
}